<template>
  <div class="spinner">
      <fa icon="spinner" size="4x" spinn></fa>
  </div>
</template>

<script>
export default {
    name: 'TheLoadingSpinner'
}
</script>

<style>
.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% + 20px));
}
.spinner svg {

}
</style>
