<template>
    <nav id="main-nav" class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow position-relative">

        <template v-if="can_go_back" >
            <router-link :to="{ name: 'Home', params: {} }" class="ml-2"><fa icon="arrow-left"></fa></router-link>
        </template>
        <template v-else>
            <!--<span  class="navbar-brand float-left mr-0 ml-2"><fa icon="home"></fa></span>-->
        </template>

        <span class="navbar-brand col-md-12 mr-0 text-center position-absolute title" href="#">Emulator Manager</span>

    </nav>
</template>

<script>

let data = function() {
    return {
        can_go_back: this.$router.currentRoute.name != "Home",
    }
}

let watch = {
    $route (to, from){
        this.can_go_back = to.name != "Home"
    }
}

export default {
    name: 'TheMainNavigation',
    watch,
    data,
}
</script>

<style>
nav#main-nav{
    height: 40px;
}
.navbar-brand.title{
    left: 50px;
    width: calc(100vw - 100px);
}
</style>
