<template>
    <div class="starter-template">
        <button
            type="button"
            class="btn float-right btn-primary add-emulator"
            @click="emulatorModal">
            New Emulator
        </button>
        <button
            type="button"
            class="btn float-right btn-primary add-emulator mr-2"
            @click="stopAllEmulators">
            Stop All
        </button>
        <h2>Emulators</h2>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">State</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="emulator in emulators">
                    <th scope="row">{{ emulator.id }}</th>
                    <td>
                        <span v-if="edit != emulator" class="name" @click="editEmulator(emulator)">{{ emulator.name }}</span>
                        <form v-else v-on:submit.prevent="renameEmulator({name: emulator.name, new_name: new_emulator_name})">
                            <input type="text" class="form-control name-input" id="name" v-model="new_emulator_name">
                            <button
                                type="button"
                                class="btn btn-sm float-right btn-primary"
                                @click="renameEmulator({name: emulator.name, new_name: new_emulator_name})">
                                Save
                            </button>
                        </form>
                    </td>
                    <td>
                        <span :class="`badge badge-${emulator.state_colors[emulator.state]}`">{{ emulator.state }}</span>
                    </td>
                    <td>
                        <button class="btn btn-sm btn-outline-primary dropdown-toggle float-right" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action</button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#" @click="startEmulator(emulator, 'normal')">Start Normal</a>
                            <a class="dropdown-item" href="#" @click="startEmulator(emulator, 'login')">Start Login</a>
                            <a class="dropdown-item" href="#" @click="startEmulator(emulator, 'headless')">Start Headless</a>
                            <a class="dropdown-item" href="#" @click="stopEmulator(emulator)">Stop</a>
                            <a v-if="emulator.running" class="dropdown-item" href="#" @click="installWhatsapp(emulator)">Install WhatsApp</a>
                            <a v-if="emulator.running" class="dropdown-item" href="#" @click="installNordVPN(emulator)">Install NordVPN</a>
                            <a class="dropdown-item" href="#" @click="deleteEmulator(emulator)">Delete</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <modal name="add_emulator">
            <h4 class="mb-4">New Emulator</h4>
            <form v-on:submit.prevent="addEmulator()">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="WA_xxxx" v-model="emulator_name">
                </div>
                <div v-if="error" class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
                <button
                    type="button"
                    class="btn float-right btn-primary create-emulator"
                    @click="addEmulator">
                    Create
                </button>
            </form>
        </modal>
    </div>
</template>

<script>
import {
    mapGetters
} from 'vuex'

let data = () => {
    return {
        emulator_name: "",
        error: null,
        reload: 0,
        edit: null,
        new_emulator_name: ""
    }
}

let computed = {
    ...mapGetters([
        'emulators'
    ])
}

let methods = {
    editEmulator(emulator) {
        this.edit = emulator
        this.new_emulator_name = emulator.name
    },
    emulatorModal() {
        this.error = null
        this.$modal.show('add_emulator')
    },
    async renameEmulator(data) {
        await this.$store.dispatch('rename_emulator', data)
        this.edit = null
    },
    stopAllEmulators() {
        this.$store.dispatch('stop_all_emulators')
    },
    deleteEmulator(emulator) {
        this.$store.dispatch('delete_emulator', emulator)
    },
    startEmulator(emulator, start) {
        this.$store.dispatch('start_emulator_' + start, emulator)
    },
    stopEmulator(emulator) {
        this.$store.dispatch('stop_emulator', emulator)
    },
    installWhatsapp(emulator) {
        this.$store.dispatch('install_apk', emulator)
    },
    installNordVPN(emulator) {
        this.$store.dispatch('install_apk_vpn', emulator)
    },
    async addEmulator() {

        this.error = null
        if(this.emulator_name == "")
            return
        let error = await this.$store.dispatch('create_emulator', this.emulator_name)
        if(! error) {
            this.$modal.hide('add_emulator')
            return
        }
        this.error = error
    },
}

let mounted = function() {
    this.$store.dispatch('fetch_emulators')
    let self = this
    this.$bus.$on('reload', function() {
        self.$forceUpdate()
    })
}

export default {
    computed,
    mounted,
    methods,
    data,
}
</script>
<style lang="scss">
.name-input{
    width: auto !important;
    float:left;
}
.starter-template {

}
.add-emulator {
    //transform: translateY(-38px);
}
.create-emulator {
    position: absolute;
    bottom: 15px;
    right: 15px;
}
.name {
    cursor:pointer;
}


</style>
