<template>
    <div id="app">
        <the-main-navigation></the-main-navigation>

        <main role="main" class="container">
            <router-view/>
        </main>
    </div>
</template>

<script>
import TheHeader from '@/components/TheHeader'
import TheMainNavigation from '@/components/TheMainNavigation'

let components = {
    TheHeader,
    TheMainNavigation
}

export default {
    name: 'App',
    components,
}

</script>

<style lang="scss">
@import "./styles/app.scss";
main.container{
    padding: 1.5em 2.5em;
    max-width: 99999999px !important;
}
</style>
